
body {	
	//background-image: url(../images/bakgrunner/g_lysGraa.png);
	background-color:white;
	
}

#hovedramme {
	margin-top:5px;

}	

#omeny {
	background: url(../images/umeny.png) repeat-x;
}

#umeny {
	background: url(../images/umeny.png) repeat-x;
	height: 35px;
}
	

#faner {
	padding: 0 5px 0px 5px;
	height: 34px;
}

#faner a{
	color:white;
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin: 9px 0 0 0;
	text-decoration:none;
}

#faner a:hover {
	color:#666;
}

.menyspacer {
	float: left;
	margin: 0 9px 0 9px;
}


.selected {
	color:black !important;
}


#innholdsramme {
	background-color:#EAEAEA;
	padding-bottom:15px;	

}

#midtramme img {
	//border: 1px solid #CCCCCC;
}

#hovedArtikkel {
	color:#555555; 
	width:700px;
	background-color:#FAFAFA;
	padding: 5px 5px 5px 5px;
	margin-bottom:5px;

}

#hovedArtikkel p {
	color:#333333; 
	font-size:12px; 
	margin: 5px 5px 5px 0;
}


#hovedArtikkel img {
	width:170px;
	height:200px;
	float:left;
	margin-right:7px;
	
}

#hovedArtikkel h1 {
	font-size:20px;
	padding-bottom:2px;
	
}

#hovedArtikkel h1 a{
	color:#3B5998;
	text-decoration:none; 
}

#hovedArtikkel h1 a:hover{
	text-decoration:underline;
}

#hovedArtikkel h3{
	margin: 0 0 0 5px;
	font-size:13px;
	font-style:italic;
	font-weight:normal;
}

#hovedArtikkel h3 a {
	text-decoration:none;
}

#hovedArtikkel h3 a:hover {
	color:#444444;
	text-decoration:underline;
}

#lesMer a {
	margin-top:0;
	text-decoration:underline;
	color:#3B5998;
}


.artikkel {
	height:180px; 
	background-color:#FAFAFA;
	padding: 5px 0px 0px 0px;
	margin: 5px 0px 5px 0px;

}


.artikkel img {
	//width:144.5 px;
	//height:170px; 
	float:left; 
	margin-right: 7px;
	margin-left: 5px;
}

.artikkel a {
	text-decoration:none;	
}

.artikkel h1 {
	font-size:18px;
	padding-right: 2px; 
	line-height:1.4;
	margin-bottom:4px; 
}

.artikkel h1 a {
	color:#3B5998;
	text-decoration:none; 
}

.artikkel h1 a:hover {
	text-decoration:underline;
	font-weight:bold;
}



.artikkel p {
	color:#333333; 
	font-size:12px; 
	margin-bottom:2px;
	margin-top:5px;
	padding-right:5px;
}

.artikkel h3 {
	font-size:13px;
	font-style:italic;
	font-weight:normal;
}

.artikkel h3 a:hover {
	color:#444444;
	text-decoration:underline;
}

#hoyreramme {
	margin-top:5px;

}	

#twitter {
	margin-bottom:15px;
	
}

#dashedHr {
	border:none;
	border-bottom: dashed 1px;
	height: 1px;
}

#footer {
	border-top: 2px solid #666;
	
}

#footer img {
	padding: 10px 15px 5px 5px;
}



#bidragsyter {
	margin-left: 5px;
	padding: 5px 0px 5px 5px;
	background-color:#FAFAFA;

}

#bidragsyter img {
	width:170px;
	height:200px;
	float:right;
	margin-left:15px;
	margin-right:10px;
}


#artikkelOversikt td{
	padding: 0 10px 5px 10px;
}

#artikkelOversikt img {
}

#artikkelOversikt th{
}

#artImg {
	float:right;
}

#artImg img {
	float:right;
	margin: 15px 0px 5px 10px;
}

#hovedArtikkel tubeLink {
	width:250px;
	height:218px;
	float:left;
	margin-right:5px;
			
}

#visArtikkel {
	padding: 0 15px 0 5px;
	min-height:350px;
		
}

#visArtikkel h2 {
	padding: 10px 0 10px 0;
}

td img {
	margin:0 0 0 0;
}

td {
	margin: 0 0 30px 0;
}

#webmaster {
	
	float:right;
	padding-right:5px;
	margin-top:80px;
}


#list dl {
	margin-top:5px;
}

#list dt {
	font-weight:bold;
	font-size: 16px;
	float:right;
	width: 612px;
}

#list dt a {
	color:#3B5998;
}

#list dd.content {
	margin: 0 0 15px 98px;
	width:610px;
}



#list dd.listImg {
	float:left;
	margin: 0;
	padding-left: 5px;
	
}

#whiteBG {
	background-color:white;
	height: 111px;
	padding: 5px 0 0px 0;
	margin: 5px 0 5px 0;
} 

#greyBG {
	background-color:#D9D9D9;
	height: 111px;
	padding: 5px 0 0px 0;
	margin: 5px 0 5px 0;
}



#taboloid {
	
}

#listeVisning {

}

#bildeVisning {

}

#contentOmeny {
	position:relative;
}

#endreVisning{
	position:absolute;
	right: 0;
	top: 0px;
}

#bio {
	margin-bottom:25px;
	
}




