<title>Kategorier</title>

<h1>Kategorier</h1>

<table>

<% @categories.each do |c| %>

  <tr>
    <td><%= link_to c.name, c %>  </td>
    <td>  </td>
    <td>
      <% if admin_signed_in? %>
      <%= link_to 'Edit', edit_category_path(c) %>
      <% end %>
    </td>
    <td>
      <% if admin_signed_in? %>
      <%= button_to "Slette", { :action => "destroy", :id => c.id },
            :confirm => "Are you sure?", :method => :delete %>
      <% end %>
     </td>
    <td></td> <!-- Få opp antallet tekster i gitt kategori her? -->
  </tr>

  <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

<% end %>
</table>

<% if admin_signed_in? %>
  <%= link_to 'Ny kategori', new_category_path %>
<% end %>

